<p id="notice"><%= notice %></p>

<h1>Tour Interest Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_interest_lists.each do |tour_interest_list| %>
      <tr>
        <td><%= tour_interest_list.user %></td>
        <td><%= tour_interest_list.tour %></td>
        <td><%= link_to 'Show', tour_interest_list %></td>
        <td><%= link_to 'Edit', edit_tour_interest_list_path(tour_interest_list) %></td>
        <td><%= link_to 'Destroy', tour_interest_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour Interest List', new_tour_interest_list_path %>
