<p id="notice"><%= notice %></p>

<h1>Booking Waitlists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tour</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_waitlists.each do |booking_waitlist| %>
      <tr>
        <td><%= User.find(booking_waitlist.booking.user_id).name %></td>
        <td><%= booking_waitlist.tour.name %></td>
        <td><%= booking_waitlist.quantity %></td>
        <td><%= link_to 'Show', booking_waitlist %></td>
<!--        <td><%#= link_to 'Edit', edit_booking_waitlist_path(booking_waitlist) %></td>-->
<!--        <td><%#= link_to 'Destroy', booking_waitlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Booking Waitlist', new_booking_waitlist_path %>
