<!DOCTYPE html>
<html>
  <head>
    <title>TMSNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong> who is <%= Usertype.find(current_user.user_type).user_type %>.
    <%= link_to 'Edit profile', edit_user_path(current_user) %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= yield %>
    <br />
    <br />
    <%= link_to "List all tours", tours_url %> |
    <%= link_to "Bookmarked Tours List", tour_interest_lists_url %>
  <% else %>
    Not logged in.
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path  %>
    <%= yield %>
  <% end %>

  </body>
</html>
